@model IEnumerable<QAgoraForum.Models.XmlPost>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="panel panel-default">
                <div class="panel-heading">
                    @item.Date.ToUniversalTime()
                </div>
                <div class="panel-body">
                    <div id="user" class="col-md-3">
                        @Html.Action("userInfo",new { userId= item.Owner})
                    </div>
                    <div id="message" class="col-md-9 well">
                        @Html.Raw(item.content)
                    </div>
                </div>
            </div>
        </td>
    </tr>

}

</table>
