<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gluteneria.Properties.Settings.usersConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\users.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gluteneria.Properties.Settings.PortfolioConnection"
            connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=Portfolio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>