@using QAgoraForum.Models
@model List<QAgoraForum.Models.Post>


@* TODO *@

<div class="panel panel-default">
    <div class="panel-heading row">
        <div class="glyphicon glyphicon-bookmark col-md-2"/>
        <div class="col-md-5 col-md-offset-2">@ViewBag.Title</div>
        <div class="col-md-2">
                @Html.ActionLink(" ", "Create", "Topics", new { sectionId = ViewBag.SectionID }, new { @class = "btn btn-default glyphicon glyphicon-comment" })
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Posts</th>
                <th>Actions</th>
            </tr>
            <tbody>
            @if (Model.Count != 0)
            {
            foreach (Post item in Model)
            {
                <tr class="clickable-row" data-herf=@Url.Action("Index", "Topics", new {Id = item.Id})>
                    <td><img src=@("/DefaultLayout/Avatars/" + @item.Owner.UserName + "-avatar.jpg") class="img-circle img-responsive" style="max-height: 40px; max-width: 40px"/></td>
                    <td>@item.Title</td>
                    <td></td>
                </tr>
            }
            }
            </tbody>
        </table>

    </div>

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}