@model QAgoraForum.Models.Message

@{
    int messageId = ViewBag.MessageId;

}
@if (ViewBag.IsPost)
{
    <div class="alert alert-success">Message sended!</div>
}
else
{
    <div>
        @using (Ajax.BeginForm("_AnswerForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "WriteAnswer", OnSuccess = "hideModal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control jqte" } })
                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                </div>
                @Html.Hidden("answerFor", messageId)
                <input type="submit" value="Send" data-dismiss="modal" class="btn btn-success col-md-2 col-md-offset-5" />
            </div>
        }
    </div>
}


<script type="text/javascript">
    function hideModal() {
        $("#WriteAnswer").hide(400);
    }
</script>
